@import url('https://fonts.googleapis.com/css2?family=Acme&family=Charm:wght@400;700&family=Rubik+Moonrocks&display=swap');

:root {
    --clr1: rgba(21, 12, 104);
    --clr2: rgba(236, 68, 90);
    --clr3: #fff;
    --clr4: black;
    --clr5: lightgray;
    --clr6: yellow;
}
*{
    font-family: "Charm", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}
html {
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--clr1);
}

section {
    padding: 7rem 9%;
    margin-top: 7rem;
}

.btn {
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--clr3);
    background-color: var(--clr2);
    box-shadow: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    color: var(--clr3);
}

btn:hover {
    transform: translateY(-1rem);
    transition: all .5s ease;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.title span {
    color: var(--clr2);
    font-size: 11rem;
}

.title h1 {
    font-size: 7rem;
}

.title p {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--clr4);

}

/*--header sec*/
.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--clr1);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head a img {
    height: 70px;
    width: 100px;
    margin-left: 90px;
}

.head .navbar {
    font-size: 1.8rem;
    justify-content: space-between;
    font-weight: 500;
}

.head .navbar a {
    padding-left: 1.5rem;
    color: var(--clr3);
    font-size: 2rem;
    margin-left: 2rem;
}

#menu-bar {
    font-size: 3rem;
    color: var(--clr3);
    border-radius: .5rem;
    border: 1rem solid #fff;
    padding: 5rem 1.5rem;
    cursor: pointer;
    display: none;
}

/*home*/
.home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("https://wp-media-partyslate.imgix.net/2022/08/enchanting-hindu-ceremony-at-the-marriott-in-schaumburg-illinois_1498414-scaled.jpg?auto=compress%2Cformat&ixlib=php-3.3.1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.search-box {
    margin: 20rem 0 0 0;
    color: var(--clr3);
    text-align: center;
}

.search-box h1 {
    font-size: 6.5rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: .3rem;
}

.search-box p {
    font-size: 1.8rem;
    margin: .5rem;
}

.search-field {
    width: 25rem;
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr2);
}

/*services*/
.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.services-col {
    height: 22rem;
    color: var(--clr4);
    background: url("C:/Users/hp/OneDrive/Pictures/red background.png");
    background-color: var(--clr5);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.2rem;
    margin: 1.5rem;
}

.services-col i {
    padding: 2.2rem;
    border: none;
    margin-left: 11.5rem;
    background: aliceblue;
    color: var(--clr2);
    border-radius: 5rem;
    font-size: 2rem;
}

.services-col h2 {
    color: var(--clr4);
    padding: .5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.services-col p {
    color: var(--clr4);
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

/*vendor sec*/
.vendor-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.vendor .vendor-row {
    max-width: 1300px;
    background: rgb(245, 236, 245);
    height: 40rem;
    flex: 1 1 30rem;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem .5rem var(--clr2);
    width: 100%;
    overflow: hidden;
}

.vendor-row .rate {
    width: 6rem;
    padding: .5rem .1rem;
    color: var(--clr4);
    background: var(--clr6);
    font-size: 1.6rem;
    font-weight: 400;
}

.vendor .vendor-row img {
    height: 22rem;
    width: 100%;
    object-fit: cover;
    transition: all 1s ease;
    overflow: hidden;
}

.vendor .vendor-row:hover img {
    transform: scale(1.2);
}

.services-row h2 {
    font-size: 2rem;
    font-weight: 600;
}

.vendor-row p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--clr4);
}

.vendor-row h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--clr2);
    background: var(--clr4);
}

/*venue sec*/
.venue .venue-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.venue .venue-list .venue-box {
    flex: 1 1 50rem;
    margin: 1rem;
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    height: 20rem;
}

.venue .venue-list .venue-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.venue .venue-list .venue-box .venue-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--clr6);
    background: rgba(46, 39, 40, 0.5);
    transform: scale(1.3);
    opacity: 0;
    transition: 1s ease;
}

.venue .venue-list .venue-box:hover .venue-info {
    transform: scale(1);
    opacity: 1;
}

.venue .venue-list .venue-box .venue-info h2 {
    font-size: 3rem;
    letter-spacing: .1rem;

}

.venue .venue-list .venue-box .venue-info p {
    color: var(--clr3);
    font-size: 2rem;
    letter-spacing: .1rem;
}

/*invitation sec*/
.invite .invitation-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.invite .invitation-row .invitation-box {
    flex: 1 1 25rem;
    margin: 1rem;
    position: relative;
    border: .6rem double var(--clr4);
    padding: 2rem;
    border-radius: .6rem;
    overflow: hidden;
    height: 30rem;
}
.invite .invitation-row .invitation-box:hover {
    transform: translateY(-2rem);
    transition: .5s ease;
}

.invite .invitation-row .invitation-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*footer sec*/
footer {
    padding: 5rem 5%;
}

#contact {
    background:red;
}

.container {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.f-container {
    flex: 1 1 30rem;
}

.f-container h2 {
    font-size: 2.5rem;
    color: var(--clr3);
    padding: 1rem 0;
}

.f-container a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--clr3);
    padding: 1rem 0;
    display: block;
}

.f-container a:hover {
    transform: translateX(.5rem);
    transition: .5s ease;
}

.f-container i {
    padding-right: .5rem;
    color: var(--clr1);
}

.f-container p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--clr1);
}

.f-container input {
    width: 90%;
    padding: 1rem;
    background: var(--clr5);
    border: .2rem solid var(--clr1);
}

.f-container .btn {
    background: var(--clr1);
    color: var(--clr3);
    cursor: pointer;
    margin-top: 2rem;
    border-radius: .2rem;
}

.f-container .social i {
    margin-top: 1rem;
    font-size: 2rem;
    background: var(--clr3);
    border-radius: 1rem;
    padding: 1rem;
}

.f-container .social i:hover {
    transform: rotate(360deg);
    transition: 1s ease;
}